@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:600&display=swap');

@import './typebase';

html,
body {
  color: #212121;
}
a {
  color: #2196f3;
  display: inline-block;
  text-decoration: none;
}
