$font-family: 'IBM Plex mono', monospace;
$font-weight: 300;
/*! Typebase.scss v0.1.0 | MIT License */

// Typesetting variables. Edit here or override in main file prior to import of this.
$baseFontSize: 16px !default; // in pixels. This would result in 22px on desktop
$baseLineHeight: 1.5 !default; // how large the line height is as a multiple of font size
$leading: $baseLineHeight * 1rem !default;
// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
$scale: 0.25 !default;

/* Setup */

html {
  /* Change default typefaces here */
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $baseFontSize;
  // Make everything look a little nicer in webkit
  -webkit-font-smoothing: antialiased;
  text-size-adjust: auto;
  line-height: $leading;
}
/* Copy & Lists */

p {
  line-height: $leading;
  margin: 0.5rem 0;
}
ul,
ol {
  margin: 0;
  padding: 0 0 0 1rem;
  li {
    line-height: $leading;
    margin: 0.1rem 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  margin: 0.5rem 0;
  font-weight: $font-weight;
}
h1 {
  font-size: 1rem + (3 * $scale);
  line-height: $leading + (3 * $scale);
}
h2 {
  font-size: 1rem + (2 * $scale);
  line-height: $leading + (2 * $scale);
}
h3 {
  font-size: 1rem + ($scale);
  line-height: $leading + ($scale);
}
h4 {
  font-size: 1rem;
  line-height: $leading;
}
h5 {
  font-size: 1rem - ($scale);
  line-height: $leading - ($scale);
}
h6 {
  font-size: 1rem - (2 * $scale);
  line-height: $leading - (2 * $scale);
}
